# Environment variables (real secrets – never commit these)
.env.production
backend/.env
backend/.env.production
frontend/.env
frontend/.env.production
frontend/.env.development
frontend/node_modules
node_modules
node_modules.zip
frontend/build
backend/node_modules
